<h3>Projects:</h3>
<ul class="projects" class="list-group">
    <li *ngFor="let project of projects" class="list-group-item">
        <h4><a href="profile/project/{{project.id}}">{{project.name}}</a></h4>
        <ul class="tasks" class="list-group list-group-flush">
            <li *ngFor="let task of project.tasks" class="list-group-item">
                {{task.name}}
            </li>
        </ul>
    </li>
</ul>
<div>
    <h4>Add new project</h4>
    <label>Name:
          <input #projectName />
        </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(projectName.value); projectName.value=''" class="btn btn-default">
          Add
    </button>
</div>