<mat-card>
    <h2>Projects</h2>
    <mat-list class="projects" class="list-group">
        <mat-list-item *ngFor="let project of projects" class="list-group-item">
            <a href="profile/projects/{{project.id}}">{{project.name}}</a>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>
<div class="new-project-toolbar">
    <mat-card>
        <mat-toolbar-row>
            <h4>Add new project</h4>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-form-field class="example-full-width">
                <input #projectName matInput placeholder="Project name">
            </mat-form-field>
            <button (click)="add(projectName.value); projectName.value=''" mat-raised-button color="primary" class="button-row">Add</button>
        </mat-toolbar-row>
    </mat-card>
</div>