<mat-card>
	<mat-card-header>
		<mat-card-title>{{project?.description}}</mat-card-title>
	</mat-card-header>
	<mat-table #table [dataSource]="project?.tasks" class="responsive_table">
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>Name:</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<span class="mobile-label">Name:</span>
				{{ element.name }}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Description:</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<span class="mobile-label">Description:</span>
				{{ element.description }}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="status">
			<mat-header-cell *matHeaderCellDef>Status:</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<span class="mobile-label">Status:</span>
				{{ element.status }}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="estimatedTime">
			<mat-header-cell *matHeaderCellDef>Estimated time:</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<span class="mobile-label">Estimated time:</span>
				{{ element.estimatedTime }}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="action">
			<mat-header-cell *matHeaderCellDef>Action:</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<span class="mobile-label">Action:</span>
				<mat-icon class="cursor-pointer" (click)="taskDialog(element.id, 'edit')">edit</mat-icon>
				<mat-icon class="cursor-pointer" (click)="deleteTask(element.id)">delete</mat-icon>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
	<button (click)="taskDialog()" mat-raised-button color="primary" class="add-task-button">Add task</button>
</mat-card>