<h3>{{project.name}}</h3>
<table class="table">
    <thead>
        <tr>
            <th>Task:</th>
            <th>Status:</th>
            <th>Estimated time:</th>
            <th>Description:</th>
            <th>Action:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of project.tasks">
            <th>{{task.name}}</th>
            <th>{{task.status}}</th>
            <th>{{task.estimated_time}}</th>
            <th>{{task.description}}</th>
            <th><span class="glyphicon glyphicon-remove" title="delete"></span></th>
        </tr>
    </tbody>
</table>


<button class="btn btn-info" (click)="taskDialog()">Add task</button>