<form class="form" (ngSubmit)="addTask()" #taskForm="ngForm">
    <h4>New task:</h4>
    <mat-form-field class="full-width">
        <input [(ngModel)]="task.name" name="name" #name="ngModel" required matInput placeholder="Name">
        <div class="alert alert-danger" *ngIf="name.invalid && submitted">Name is required</div>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-select placeholder="Status" name="status" [(ngModel)]="task.status" #status="ngModel" required>
            <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" [(ngModel)]="task.estimated_time" #estimated_time="ngModel" name="estimated_time" required
            placeholder="Estimated time">
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea matInput name="description" [(ngModel)]="task.description" #description="ngModel" required placeholder="Description"
            rows="8"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">
        Submit
    </button>
    <button mat-raised-button matDialogClose>Cancel</button>
</form>