<form class="form" (ngSubmit)="addTask()" #taskForm="ngForm">
    <h4>New task:</h4>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" [(ngModel)]="task.name" name="name" #name="ngModel" required>
        <div class="alert alert-danger" *ngIf="name.invalid && submitted">Name is required</div>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="task.status" #status="ngModel" required>
            <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="estimated_time">Estimated time:</label>
        <input type="number" id="estimated_time" class="form-control" [(ngModel)]="task.estimated_time" #estimated_time="ngModel" name="estimated_time" required>
        <div class="alert alert-danger" *ngIf="estimated_time.invalid && submitted">Estimated time is required</div>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" [(ngModel)]="task.description" #description="ngModel" id="description" cols="20" rows="8" class="form-control" required></textarea>
    </div>
    <button class="btn btn-info">
        Submit
    </button>
    <button class="btn btn-danger" matDialogClose>Cancel</button>
</form>