<div id="mySidenav" class="sidenav">
	<!-- <span class="user-name">{{userName}}</span> -->
	<!-- <div class="menu-items" routerLink="/profile/dashboard" (click)="close()">
			<i class="material-icons md-light">dashboard</i>
			<a>
				Dashboard
			</a>
		</div> -->
	<div class="menu-items" routerLink="/profile/user/{{id}}" (click)="close()">
		<i class="material-icons md-light">person</i>
		<a>
			Profile
		</a>
	</div>
	<div class="menu-items" routerLink="/profile/projects" (click)="close()">
		<i class="material-icons md-light">assignment</i>
		<a>Projects</a>
	</div>
	<div class="menu-items" (click)="logout()" (click)="close()">
		<i class="material-icons md-light">exit_to_app</i>
		<a>
			Logout
		</a>
	</div>
	<span (click)="openNav()">open</span>
</div>