<mat-sidenav-container (swiperight)="sidenavOpen()" class="menu-container">
	<mat-sidenav #sidenav [ngClass]="menuCollapse ? 'menu' : 'menu-toogle'">
		<span class="user-name">{{userName}}</span>
		<!-- <div class="menu-items" routerLink="/profile/dashboard" (click)="close()">
			<i class="material-icons md-light">dashboard</i>
			<a>
				Dashboard
			</a>
		</div> -->
		<div class="menu-items" routerLink="/profile/user/{{id}}" (click)="close()">
			<i class="material-icons md-light">person</i>
			<a>
				Profile
			</a>
		</div>
		<div class="menu-items" routerLink="/profile/projects" (click)="close()">
			<i class="material-icons md-light">assignment</i>
			<a>Projects</a>
		</div>
		<div class="menu-items" (click)="logout()" (click)="close()">
			<i class="material-icons md-light">exit_to_app</i>
			<a>
				Logout
			</a>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container flexbox-col">
			<mat-toolbar>
				<mat-toolbar-row>
					<mat-icon class="menu-icon" (click)="sidenav.open()">format_align_justify</mat-icon>
					<span id="toolbarTitle">{{toolbarTitle}}</span>
				</mat-toolbar-row>
			</mat-toolbar>
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>