#menu {
    height: 100vh;
    background: #222;
    flex: 1;
}

#menu #avatar img {
    height: 45%;
    width: 45%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

/* The navigation menu links */
#menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

#menu a:hover {
    background: #3a3a3a;
}

#menu .user-name {
    color: white;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}