<div class="container">
    <mat-card>
        <form (ngSubmit)="onLogin()" novalidate>
            <h2>Login</h2>
            <mat-form-field class="full-width">
                <input matInput type="text" id="username" placeholder="Username" [(ngModel)]="user.username" name="username" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput type="password" [(ngModel)]="user.password" name="password" required placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </mat-card>
</div>