@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.flexbox {
    display: flex;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.full-width {
    width: 100%;
}

.cursor-pointer-span {
    cursor: pointer;
}