<h3>Projects:</h3>
<ul class="projects">
    <li *ngFor="let project of projects">
        <b>{{project.name}}</b>
        <ul class="tasks">
            <li *ngFor="let task of project.tasks">
                {{task.name}}
            </li>
        </ul>
    </li>
</ul>
<div>
    <label>Project name:
          <input #projectName />
        </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(projectName.value); projectName.value=''">
          add
        </button>
</div>